<div class="container">
  <nav class="navbar navbar-expand-lg pt-0 pb-0 navbar-light bg-white">
    <a class="navbar-brand" href="#"> <img src="../../assets/images/logo.PNG" class="logo" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- <div class="collapse justify-content-end navbar-collapse" id="navbarSupportedContent">
      <div class="custom-file col-sm-5 mr-2">
        <input type="file" id="flup" (change)=getfolder($event) webkitdirectory mozdirectory msdirectory odirectory
          directory multiple class="custom-file-input" id="customFile">
        <label class="custom-file-label" for="customFile">Choose file</label>
      </div>
      <button class="btn btn-outline-primary my-2 my-sm-0" type="submit" (click)="playCharts()">Start</button>
    </div> -->
  </nav>
  <!--
  <div class="row">
    <div class="col-md-6 " id="video-div">
      <video id="video" class="video" #video controls>
      </video>
    </div>
    <div class="col-md-3" id="video-div-user">
      <video class="videoUser" #videoUser controls>
      </video>
    </div>
  </div> -->
  <div>
    <div *ngIf="!isNewNote">
      <a href='javascript:void(0);' (click)="addNewNote()" title="Add Note" data-toggle="tooltip">
        <i class="fa fa-plus-circle" style="font-size: 45px;color: orange"></i>
      </a>
    </div>
    <div class="container border" *ngIf="isNewNote">
      <div class="row border">
        <h5 *ngIf="!isEditNote">Add Note</h5>
        <h5 *ngIf="isEditNote"> Edit Note</h5>
      </div>
      <form class="mt-3" [formGroup]="noteForm">
        <div class="form-group row">
          <label class="col-sm-1 col-form-label mt-4">Task :</label>
          <div class="col-sm-6">
            <label>Time - {{currentTime | slice: 11:20}}</label>
            <input type="text" class="form-control" formControlName="task" placeholder="Enter Task">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-1 col-form-label mt-4">Note :</label>
          <div class="col-sm-6">
            <textarea type="" class="form-control" formControlName="note" placeholder="Enter Note"></textarea>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-3">
            <button type="submit" (click)="sumitNote()" class="btn btn-primary btn-sm">Save</button>
            <button class="btn btn-secondary btn-sm ml-1" (click)="reset()">Cancel</button>
          </div>
        </div>
      </form>
    </div>
    <div class="container border mt-1">
      <h5>Note List</h5>
    </div>
    <div id="table" class="table-editable">

      <table class="table table-hover">
        <thead>
          <tr>
            <th>Time</th>
            <th>Task</th>
            <th>Note</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let noteItem of noteList; let i=index">
            <td>
              <span contenteditable="false">{{noteItem.time | slice: 11:20}}</span>
            </td>
            <td>
              <span>{{noteItem.task}}</span>
            </td>
            <td>
              <span>{{noteItem.note}}</span>
            </td>
            <td>
              <a href='javascript:void(0);' title="Edit Note" data-toggle="tooltip"
                (click)="editNote(noteItem, i)">
                <i class="material-icons">edit</i>
              </a>
              <a href='javascript:void(0);' title="Delete Note" data-toggle="tooltip"
                (click)="deleteNote(i)">
                <i class="material-icons icon-red">delete</i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
