<div class="container">
  <div class="mt-2">
    <div *ngIf="!isNewNote">
      <a href='javascript:void(0);' (click)="addNewNote()" title="Add Note" data-toggle="tooltip">
        <i class="fa fa-plus-circle add-button"></i>
      </a>
    </div>
    <div class="container border" *ngIf="isNewNote">
      <div class="row border">
        <div class="col-sm-10 mt-1">
          <h5 *ngIf="!isEditNote">Add Note</h5>
          <h5 *ngIf="isEditNote">Edit Note</h5>
        </div>
      </div>
      <form class="mt-3" [formGroup]="noteForm">
        <div class="form-group row">
          <label class="col-sm-1">Project :</label>
          <div class="col-sm-4">
            <select class="form-control" formControlName="Project" (change)="changeProject($event)"
            [ngClass]="{ 'is-invalid': submitted && f.Project.errors }" >
              <option [ngValue]="null" disabled>Select Project</option>
              <option *ngFor="let project of projects" [ngValue]="project">
                {{project.projectName}}
              </option>
            </select>
            <div *ngIf="submitted && f.Project.errors" class="invalid-feedback">
              <div *ngIf="f.Project.errors.required">Project selection is required</div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-1">Test :</label>
          <div class="col-sm-4">
            <select class="form-control" formControlName="Test" (change)="changeTest()"
            [ngClass]="{ 'is-invalid': submitted && f.Test.errors }" >
              <option [ngValue]="null" disabled>Select Test</option>
              <option *ngFor="let test of tests" [ngValue]="test">
                {{test.testName}}
              </option>
            </select>
            <div *ngIf="submitted && f.Test.errors" class="invalid-feedback">
              <div *ngIf="f.Test.errors.required">Test selection is required</div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-1">Task :</label>
          <div class="col-sm-4">
            <select class="form-control" formControlName="Task" (change)="changeTask()" >
              <option [ngValue]="null" disabled>Select Task</option>
              <option *ngFor="let task of tasks" [ngValue]="task">
                {{task.Description}}
              </option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-1 col-form-label">Note :</label>
          <div class="col-sm-6">
            <textarea type="" class="form-control" formControlName="NotesDescription"
              [ngClass]="{ 'is-invalid': submitted && f.NotesDescription.errors }" placeholder="Enter Note"></textarea>
              <div *ngIf="submitted && f.NotesDescription.errors" class="invalid-feedback">
                <div *ngIf="f.NotesDescription.errors.required">Note description is required</div>
              </div>
          </div>

        </div>
        <div class="form-group row">
          <div class="col-sm-3">
            <button type="submit" (click)="onSubmit()" class="btn btn-primary btn-sm">Save</button>
            <button class="btn btn-secondary btn-sm ml-1" (click)="reset()">Cancel</button>
          </div>
        </div>
      </form>
    </div>
    <div class="container border mt-3 note-list">

      <div class="row border">
        <div class="col-sm-10 mt-1">
          <h5>Note List</h5>
        </div>
        <div class="col-sm-2 mt-1 mb-1">
          <button *ngIf="noteList.length > 0" (click)="saveAllNotes()" class="btn btn-primary btn-sm ">Save All</button>
        </div>
      </div>
      <div id="table" class="table-editable">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Time</th>
              <th>Project</th>
              <th>Test</th>
              <th>Task</th>
              <th>Note</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <label class="mt-1" *ngIf="noteList.length == 0"> No Records Available.</label>
            <tr *ngFor="let noteItem of noteList; let i=index">
              <td>
                <span contenteditable="false">{{noteItem.DateTime | slice: 11:20}}</span>
              </td>
              <td>
                <span>{{noteItem.Project.projectName}}</span>
              </td>
              <td>
                <span>{{noteItem.Test.testName}}</span>
              </td>
              <td>
                <span>{{noteItem.Task.Description}}</span>
              </td>
              <td>
                <span>{{noteItem.NoteDescription}}</span>
              </td>
              <td>
                <a href='javascript:void(0);' title="Edit Note" data-toggle="tooltip" (click)="editNote(noteItem, i)">
                  <i class="material-icons">edit</i>
                </a>
                <a href='javascript:void(0);' title="Delete Note" data-toggle="tooltip" (click)="deleteNote(i)">
                  <i class="material-icons icon-red">delete</i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
