




.mb-0 > a {
  display: block;
  position: relative;
}
.mb-0 > a:after {
  content: "\f078"; /* fa-chevron-down */
  font-family: 'FontAwesome';
  position: absolute;
  right: 0;
}
.mb-0 > a[aria-expanded="true"]:after {
  content: "\f077"; /* fa-chevron-up */
}

i.icon-red {
  color: red;
}

label {
  color: gray;
}
h5 {
  color: gray;
}
.add-button {
  font-size: 45px;
  color: #FFA500;
}
.note-list
{
  max-height: 350px;
  overflow: auto;
}

.accordion .card-header:after {
  font-family: 'FontAwesome';
  content: "\f068";
  float: right;
}
.accordion .card-header.collapsed:after {
  /* symbol for "collapsed" panels */
  content: "\f067";
}
